@page
@model SimplCommerce.WebHost.Pages.Payment.EditModel

<h4>StormyCustomer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StormyCustomer.CPF" class="control-label"></label>
                <input asp-for="StormyCustomer.CPF" class="form-control" />
                <span asp-validation-for="StormyCustomer.CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StormyCustomer.CustomerReviewsId" class="control-label"></label>
                <input asp-for="StormyCustomer.CustomerReviewsId" class="form-control" />
                <span asp-validation-for="StormyCustomer.CustomerReviewsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StormyCustomer.CustomerWishlistId" class="control-label"></label>
                <select asp-for="StormyCustomer.CustomerWishlistId" class="form-control" asp-items="ViewBag.CustomerWishlistId"></select>
                <span asp-validation-for="StormyCustomer.CustomerWishlistId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StormyCustomer.FullName" class="control-label"></label>
                <input asp-for="StormyCustomer.FullName" class="form-control" />
                <span asp-validation-for="StormyCustomer.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StormyCustomer.RefreshTokenHash" class="control-label"></label>
                <input asp-for="StormyCustomer.RefreshTokenHash" class="form-control" />
                <span asp-validation-for="StormyCustomer.RefreshTokenHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StormyCustomer.DateOfBirth" class="control-label"></label>
                <input asp-for="StormyCustomer.DateOfBirth" class="form-control" />
                <span asp-validation-for="StormyCustomer.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StormyCustomer.CreatedOn" class="control-label"></label>
                <input asp-for="StormyCustomer.CreatedOn" class="form-control" />
                <span asp-validation-for="StormyCustomer.CreatedOn" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="StormyCustomer.Id" />
            <div class="form-group">
                <label asp-for="StormyCustomer.UserName" class="control-label"></label>
                <input asp-for="StormyCustomer.UserName" class="form-control" />
                <span asp-validation-for="StormyCustomer.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StormyCustomer.NormalizedUserName" class="control-label"></label>
                <input asp-for="StormyCustomer.NormalizedUserName" class="form-control" />
                <span asp-validation-for="StormyCustomer.NormalizedUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StormyCustomer.Email" class="control-label"></label>
                <input asp-for="StormyCustomer.Email" class="form-control" />
                <span asp-validation-for="StormyCustomer.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StormyCustomer.NormalizedEmail" class="control-label"></label>
                <input asp-for="StormyCustomer.NormalizedEmail" class="form-control" />
                <span asp-validation-for="StormyCustomer.NormalizedEmail" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="StormyCustomer.EmailConfirmed" /> @Html.DisplayNameFor(model => model.StormyCustomer.EmailConfirmed)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="StormyCustomer.PasswordHash" class="control-label"></label>
                <input asp-for="StormyCustomer.PasswordHash" class="form-control" />
                <span asp-validation-for="StormyCustomer.PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StormyCustomer.SecurityStamp" class="control-label"></label>
                <input asp-for="StormyCustomer.SecurityStamp" class="form-control" />
                <span asp-validation-for="StormyCustomer.SecurityStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StormyCustomer.ConcurrencyStamp" class="control-label"></label>
                <input asp-for="StormyCustomer.ConcurrencyStamp" class="form-control" />
                <span asp-validation-for="StormyCustomer.ConcurrencyStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StormyCustomer.PhoneNumber" class="control-label"></label>
                <input asp-for="StormyCustomer.PhoneNumber" class="form-control" />
                <span asp-validation-for="StormyCustomer.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="StormyCustomer.PhoneNumberConfirmed" /> @Html.DisplayNameFor(model => model.StormyCustomer.PhoneNumberConfirmed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="StormyCustomer.TwoFactorEnabled" /> @Html.DisplayNameFor(model => model.StormyCustomer.TwoFactorEnabled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="StormyCustomer.LockoutEnd" class="control-label"></label>
                <input asp-for="StormyCustomer.LockoutEnd" class="form-control" />
                <span asp-validation-for="StormyCustomer.LockoutEnd" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="StormyCustomer.LockoutEnabled" /> @Html.DisplayNameFor(model => model.StormyCustomer.LockoutEnabled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="StormyCustomer.AccessFailedCount" class="control-label"></label>
                <input asp-for="StormyCustomer.AccessFailedCount" class="form-control" />
                <span asp-validation-for="StormyCustomer.AccessFailedCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
