html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 100%;
  background-color: #FFFFFF; }

nav {
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  height: 10%;
  position: fixed;
  z-index: 10;
  top: 0; }
  nav img {
    transition: transform .05s ease-in-out; }
    @media all and (hover: hover) and (pointer: fine) {
      nav img {
        cursor: pointer; }
        nav img:hover {
          transform: scale(1.1); } }
    nav img:active {
      transform: scale(0.85); }

.search-bar {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  width: 100%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  background-color: #FFFFFF;
  border-top: none; }
  .search-bar input {
    width: calc(100% - 64px);
    padding: 0 8px;
    border: none;
    height: calc(100% - 2px);
    background-color: transparent; }
  .search-bar img {
    flex: 1;
    width: 64px;
    height: 100%;
    padding: 5px;
    border: none; }

.menu {
  position: fixed;
  left: 0;
  top: 15%;
  border: 1px solid #000;
  border-top: none;
  height: 90%;
  z-index: 1000;
  background-color: #FFFFFF;
  will-change: transform;
  transition: transform .3s ease-in-out;
  min-width: 200px; }
  @media all and (max-width: 425px) {
    .menu {
      width: 80%; } }

.menu-toggle-arrow {
  padding: 0 10px;
  position: absolute;
  right: 0;
  transition: transform .2s ease-in-out;
  width: 30px;
  height: 10px; }

.menu-item .label {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  padding: 10px 50px;
  text-align: center;
  border-bottom: 1px solid #000;
  transition: background-color .05s ease-in-out, transform .05s ease-in-out; }
  @media all and (hover: hover) and (pointer: fine) {
    .menu-item .label:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.1); } }
  .menu-item .label:active {
    background-color: rgba(0, 0, 0, 0.3); }

.menu-item .menu-sub-item-container .menu-sub-item .label {
  font-size: 14px; }

.Slide {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: transform .3s ease-in-out;
  width: 60%;
  margin: 0 auto; }
  .Slide .image {
    flex-shrink: 0;
    width: 100%;
    height: fit-content; }
    .Slide .image img {
      width: 100%;
      height: 100%;
      transform: scale(1.05, 0.6);
      border: 1px solid #000;
      transition: transform .3s ease-in-out; }
      @media all and (hover: hover) and (pointer: fine) {
        .Slide .image img:hover {
          cursor: pointer; } }
    .Slide .image.main {
      height: auto; }
      .Slide .image.main img {
        transform: scale(0.8); }

.overflow-not-allower {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.slide-controller {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center; }

.left-slider-button, .right-slider-button {
  position: absolute;
  height: 25%;
  cursor: pointer;
  transition: transform .05s ease-in-out; }
  .left-slider-button:active, .right-slider-button:active {
    transform: scaleY(0.8); }

.left-slider-button {
  left: 0; }

.right-slider-button {
  right: 0; }

@media all and (max-width: 425px) {
  .overflow-not-allower {
    justify-content: flex-start; }
  .left-slider-button, .right-slider-button {
    height: 50%; }
  .Slide {
    height: unset;
    width: 100%; }
    .Slide .image, .Slide .image.main {
      width: 100%; }
      .Slide .image img, .Slide .image.main img {
        transform: scale(1); } }

.header {
  margin: 20px auto;
  width: fit-content;
  padding: 10px 20px;
  border: 1px solid #000;
  width: 85%; }
  .header p {
    color: #000;
    font-size: 25px;
    text-align: center;
    font-family: 'Roboto', sans-serif; }

.products-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px auto;
  width: 85%;
  flex-wrap: wrap; }

.categories-card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 8%; }
  .categories-card-container .category-card {
    position: relative;
    border: 1px solid #000;
    height: 300px;
    margin: 15px 0;
    transition: transform .3s ease-in-out; }
    @media all and (hover: hover) and (pointer: fine) {
      .categories-card-container .category-card {
        cursor: pointer; }
        .categories-card-container .category-card:hover {
          transform: scale(1.05); } }
    .categories-card-container .category-card:active {
      transform: scale(0.9); }
    .categories-card-container .category-card .photo {
      height: 100%;
      width: 250px; }
    .categories-card-container .category-card .label {
      border: inherit;
      border-left: none;
      border-right: none;
      position: absolute;
      bottom: 30px;
      left: 0;
      width: 100%;
      background-color: #FFFFFF;
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      padding: 5px 0; }

footer {
  margin-top: 10px;
  padding: 15px;
  background-color: #000;
  text-align: center;
  width: 100%; }
  footer .main-content {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding: 0 10px; }
  footer .payment-methods {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 0; }
    footer .payment-methods p {
      color: #FFFFFF;
      font-family: 'Roboto', sans-serif;
      margin: 0 10px; }
    footer .payment-methods img {
      margin: 0 10px; }

.contact-cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  flex: 1; }

.contact-card {
  display: flex;
  flex-direction: row;
  border: 1px solid #000;
  margin: 10px 15px;
  padding: 15px; }
  .contact-card .icon {
    border: inherit;
    width: 64px;
    height: 64px;
    padding: 10px; }
  .contact-card .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    padding: 0px 10px; }
    .contact-card .info-container .title {
      text-align: center; }
    .contact-card .info-container .label {
      font-size: 12px; }

.breadcumb {
  display: flex;
  flex-direction: row;
  margin: 20px 10%; }
  .breadcumb .breadcumb-path {
    color: grey;
    margin: 0 2px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif; }

.product {
  position: relative;
  border: 1px solid #000;
  width: 200px;
  height: 300px;
  display: flex;
  margin: 10px 2.5px;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center; }
  @media all and (pointer: fine) and (hover: hover) {
    .product {
      cursor: pointer;
      will-change: transform;
      transition: transform .3s ease-in-out; }
      .product:hover {
        transform: scale(1.1); } }
  .product .image {
    width: 100%;
    height: 80%; }
  .product .info {
    height: 20%;
    width: 100%;
    border-top: 1px solid #000;
    padding: 5px 0; }
    .product .info .title, .product .info .price {
      font-family: 'Roboto', sans-serif;
      text-align: center;
      width: 100%; }
    .product .info .title {
      font-size: 15px; }
    .product .info .price {
      font-size: 15px;
      margin: 5px 0; }

.favorite-container {
  position: absolute;
  height: 40px;
  width: 40px; }

.favorite, .favorited, .favorited {
  position: absolute;
  top: 0;
  left: 0; }

.favorite, .favorited {
  background-color: #FFFFFF;
  height: 40px;
  width: 40px;
  border: 1px solid #000; }
  .favorite img, .favorited img {
    width: 100%;
    height: 100%; }
  @media all and (pointer: fine) and (hover: hover) {
    .favorite, .favorited {
      will-change: background-color;
      transition: opacity .3s ease-in-out; }
      .favorite:hover, .favorited:hover {
        opacity: 1;
        cursor: pointer; } }

.favorited {
  opacity: 0;
  z-index: 5; }
  .favorited.active {
    opacity: 1; }

.title-floater-container {
  position: relative; }

.title-container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  color: #000;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 2.5vmax; }

.product-page-container .image {
  border: 1px solid #000;
  margin: 10px 0;
  width: 50%; }

@media screen and (max-width: 425px) {
  .product-page-container .image {
    width: calc(100% - 20%); } }

.description {
  display: flex;
  margin: 20px 0;
  padding: 0 10%;
  width: 100%;
  position: relative; }
  .description p {
    font-size: 18px;
    color: #4b4b4b;
    font-family: 'Roboto', sans-serif; }

.button {
  display: flex;
  margin: 20px auto;
  background-color: #000;
  border: none;
  padding: 10px 20px;
  width: fit-content;
  flex-direction: row;
  justify-content: center; }
  .button p {
    color: #FFFFFF;
    text-align: center; }
  @media all and (max-width: 425px) {
    .button {
      width: 80%; } }

.color-selector {
  width: 100px;
  height: 50px;
  border: 1px solid #000;
  margin: 0 auto;
  transition: background-color .3s ease-in-out; }

.color-popup-overlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; }

.color-popup {
  background-color: white;
  z-index: 10;
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  border: 1px solid #000; }
  .color-popup .color-popup-header {
    width: 100%;
    background-color: #000;
    padding: 0 20px; }
  .color-popup .color-popup-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px 15%; }
    .color-popup .color-popup-body .color-popup-box {
      cursor: pointer;
      width: 100px;
      height: 50px;
      margin: 10px 0;
      border: 1px solid #000; }
      .color-popup .color-popup-body .color-popup-box.selected {
        transform: scale(0.9);
        opacity: 0.5; }

.product-display-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  width: 100%; }

.product-options-controller {
  width: 50%;
  height: 100%; }


/*# sourceMappingURL=styles.chunk.css.map*/