@page
@model SimplCommerce.WebHost.Pages.Brand.CreateModel


<h4>Brand</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Brand.Name" class="control-label"></label>
                <input asp-for="Brand.Name" class="form-control" />
                <span asp-validation-for="Brand.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand.Slug" class="control-label"></label>
                <input asp-for="Brand.Slug" class="form-control" />
                <span asp-validation-for="Brand.Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand.Description" class="control-label"></label>
                <input asp-for="Brand.Description" class="form-control" />
                <span asp-validation-for="Brand.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand.Website" class="control-label"></label>
                <input asp-for="Brand.Website" class="form-control" />
                <span asp-validation-for="Brand.Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand.LogoImage" class="control-label"></label>
                <input asp-for="Brand.LogoImage" class="form-control" />
                <span asp-validation-for="Brand.LogoImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand.LastModified" class="control-label"></label>
                <input asp-for="Brand.LastModified" class="form-control" />
                <span asp-validation-for="Brand.LastModified" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Brand.IsDeleted" /> @Html.DisplayNameFor(model => model.Brand.IsDeleted))
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
