.cart-product-card{
  width: 80%;
  margin: 5px auto;
  border: 1px solid $primary-color;
  display: flex;
  flex-direction: row;
  color: $primary-color;
  font-family: "Roboto", sans-serif;
  // font-size: 1rem;
  .photo{
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-right: 1px solid $primary-color;
    img{
      $size: 100%;
      height: $size;
      width: $size;
    }
  }
  .info{
    // width: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    
  }
  .title, .price{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
  }
  .title{
    text-align: center;
    border-bottom: 1px solid $primary-color;
    font-size: 80%;
    p{
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 90px;
      padding: 0 5px;
      flex: 1;
    }
  }
  .price{
    font-size: 12px;
    text-align: center;
  }
}