.categories-card-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 8%;
  .category-card{
    position: relative;
    border: 1px solid $primary-color;
    height: 300px;
    margin: 15px 0;
    transition: transform .05s ease-in-out;
    @media all and (hover:hover) and (pointer: fine){
      cursor: pointer;
      &:hover{
        transform: scale(1.05);
      }
    }
    &:active{
      transform: scale(0.90);
    }
    .photo{
      height: 100%;
    }
    .label{
      border: inherit;
      border-left: none;
      border-right: none;
      position: absolute;
      bottom: 30px;
      left: 0;
      width: 100%;
      background-color: $secondary-color;
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      padding: 5px 0;
    }
  }
}