.favorite-container{
  position: absolute;
  $size: 40px;
  height: $size;
  width: $size;
}

.favorite, .favorited{
  position: absolute;
  top: 0;
  left: 0;
}
.favorite{

  background-color: $secondary-color;
  $size: 40px;
  height: $size;
  width: $size;
  border: 1px solid $primary-color;
  img{
    width: 100%;
    height: 100%;
  }
  // z-index: 1;
  @media all and (pointer: fine) and (hover:hover){
    will-change: background-color;
    transition: opacity .3s ease-in-out;
    &:hover{
      opacity: 1;
      cursor: pointer;
      // background-color: rgb(252, 60, 60);
    }
  }
}
.favorited{
  @extend .favorite;
  opacity: 0;
  z-index: 5;
  &.active{
    opacity: 1;
  }
}