nav{
  width: 100%;
  background-color: $primary-color;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  height: 10%;
  position: fixed;
  z-index: 10;
  top: 0;
  img{
    @media all and (hover:hover) and (pointer: fine){
      cursor: pointer;
      // will-change: transform;
      // transition: transform .3s ease-in-out;
      &:hover{
        transform: scale(1.1);
      }
    }
    transition: transform .05s ease-in-out;
    &:active{
      transform: scale(.85);
    }
  }
}