nav{
  width: 100%;
  background-color: $primary-color;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  height: 10%;
  position: fixed;
  z-index: 10;
  top: 0;
  img{
    @media all and (hover:hover) and (pointer: fine){
      cursor: pointer;
      // will-change: transform;
      // transition: transform .3s ease-in-out;
      &:hover{
        transform: scale(1.1);
      }
    }
    transition: transform .05s ease-in-out;
    &:active{
      transform: scale(.85);
    }
  }
}

.search-bar{
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  width: 100%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid $primary-color;
  background-color: $secondary-color;
  border-top: none;
  input{
    width: calc(100% - 64px);
    // font-size: 16px;
    padding: 0 8px;
    border: none;
    height: calc(100% - 2px);
    background-color: transparent;
  }
  img{
    flex:1;
    width: 64px;
    height: 100%;
    padding: 5px;
    border: none;
  }
  @media all and (max-width: 425px ){
    // border-bottom: none;
  }
}