.product-image-container{
  min-width: 300px;
  max-width: 40%;
  height: fit-content;
  flex: 1;
  
  // @media screen and (max-width: 425px) {
  //   height: initial; 
  //   width: calc(100% - 20%);
    
  // }
}


.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5px;
  z-index: 5;
  border: 1px solid $primary-color;
  height: 350px;
  width: inherit;
  overflow: hidden;
  img{
    // margin: 10px 0;
    height: 90%;
    width: 90%;
  }
  
}
