.product-page-container{
  .image{
    border: 1px solid $primary-color;
    margin: 10px 0;
    width: 50%;

  }
  @media screen and (max-width: 425px) {
    .image{
      width: calc(100% - 20%);

    }
  }
}