.select-input-container{
  width: $product-option-chooser-width;
  height: $product-option-chooser-height;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  .select-input__control{
    border: 1px solid $primary-color;
    border-radius: 0;
    height: 50px;
  }
  .select-input__menu {
    border: 1px solid $primary-color;
    border-radius: 0;
  }
  .select-input__single-value{
    transform: translate(-50%, -50%);
    left: 50%;
    margin: 0;
  }
  .select-input__value-container{
    padding: 2px 30%;
  }
  .select-input__option{
    text-align: center;
    cursor: pointer;
    
    &--is-focused{
      background-color: rgba($color:$primary-color, $alpha: .2);
    }
    &--is-selected{
      background-color: $primary-color;
      color: $secondary-color;
    }
    &:active{
      background-color: rgba($color:$primary-color, $alpha: .8);
    }
  }
  .select-input__indicators{
    svg{
      fill: $primary-color;
    }
  }
  .select-input__indicator-separator{
    height: 100%;
    margin-top: 0;
    background-color: $primary-color;
  }
}