.breadcumb{
  display: flex;
  flex-direction: row;
  margin: 20px 10%;
  .breadcumb-path{
    color: grey;
    margin: 0 2px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
  }
}