.button{
  display: flex;
  margin: 20px auto;
  background-color: $primary-color;
  border: none;
  padding: 15px 10px;
  width: 300px;
  // min-width: 60%;
  min-height: 50px;
  font-size: 1.05rem;
  flex-direction: row;
  justify-content: center;
  p{
    color: $secondary-color;
    text-align: center;
    // font-weight: bold;
    letter-spacing: 0.09rem
  }
  &.secondary{
    p{
      color: $primary-color;
    }
    background-color: $secondary-color;
    border: 1px solid $primary-color; 
  }
  &.facebook{
    background-color: $facebook-color;
  }
  &.google{
    background-color: $google-color;
  }
  transition: transform .05s ease-in-out;
  
  @media all and (max-width: 425px) {
    width: 80%;
  }
  @media all and (hover: hover) and (pointer: fine){
    transition: transform .1s ease-in-out;
    &:hover{
      cursor: pointer;
      transform: scale(1.1);
    }
  }
  &:active{
    transform: scale(.95);
  }
}