.cart-products-container{
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  max-height: 45%;
  overflow: auto;
  border: 1px solid rgb(172, 172, 172);
  border-left: none;
  border-right: none;
  padding: 10px 0;
  width: 90%;
}