.description{
  display: flex;
  margin: 20px 0;
  padding: 0 10%;
  width: 100%;
  position: relative;
  p{
    font-size: 18px;
    color: rgb(75, 75, 75);
    font-family: 'Roboto', sans-serif;
  }
}