.lost-password-label{
  text-align: left;
  width: 300px;
  text-indent: 5px;
  color: $primary-color;
  font-family: "Roboto", sans-serif;
  @media all and (max-width: 425px){
    width: 80%;
    text-align: center;
  }
}