@using System.Text.Encodings.Web;
@model WitthoeftStore.Infraestructure.Templates.ConfirmationEmailModel

<!DOCTYPE html> 
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <title>Please,Confirm your Email</title>
    </head> 
    <body> 
        <p>
            Olá @Model.Username !
        </p>
        <p> Seja bem vindo a Witthoeft Store, para confirmar seu cadastro clique no link abaixo 
            <a href='{HtmlEncoder.Default.Encode(@Model.Link)}'>Confirm Your Email</a> 
        </p>
    </body>
</html>