@import 'colors.scss';
html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100%;
  background-color: $secondary-color;
}
@import 'tools';
@import 'fonts';
@import 'variables';
@import './components/nav';
@import './components/menu';
@import './components/slides';
@import './components/header';
@import './components/products';
@import './components/categories';
@import './components/footer';
@import './components/contactCard';
@import './components/breadcumb';
@import './components/productCard';
@import './components/favoriteFloater';
@import './components/titleWithFloater';
@import './components/title';
@import './components/productPageContainer';
@import './components/description';
@import './components/button';
@import './components/colorSelector';
@import './components/productDisplayContainer';
@import './components/productOptionsController';
@import './components/productImage';
@import './components/selectInput';